.user-info {
    width: 100%;
    height: 70px;
}

.info-name {
    margin-top: 40px;
}

.header-info {
    margin-top: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.user-info h3 {
    margin-bottom: 5px;
    color: grey;
    font-size: 0.9rem;
    font-weight: lighter;
}

.user-info p {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.Log-link {
    color: red;
    text-decoration: none;
    display: block;
    width: 100%;
}

.profile-blog {
    display: flex;
}

.info-loader {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.circle {
    font-size: 11rem;
    color: grey;
    margin-bottom: 20px;
}

.text-uploader {
    margin-top: 50px;
    font-size: 0.8rem;
    color: grey;
    width: 200px;
    align-self: flex-start;
}